<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	  <add key="ServiceMercurial" value="https://mercurio.ddigitaldesign.online/AppMercurial-API-QA/" />
	  <!--<add key="ServiceMercurial" value="https://localhost:44333/" />-->
    <add key="username" value="admin" />
	  <add key="password" value="W2L2YXEX9VE=" />
	  <!--<add key="password" value="tMlt9hyquAQX2v8cE3b8G6OxnMl2MSyg" />-->
    <add key="timeCookies" value="1" />
    <add key="timeSession" value="8" />
    <add key="SubjectNewUser" value="Bienvenido : {0} " />
    <add key="NameFileNewUser" value="RegisterUser.html" />
    <add key="templates" value="C:\Mercurio\Html\" />

    <add key="AddressCopy" value="kevin.cordovasanchez@gmail.com" />
    
    <add key="SubjectSolicitud" value="Nueva Solicitud N° : {0} " />
    <add key="NameFileSolicitud" value="NuevaSolicitud.html" />

    <add key="SubjectSolicitudChange" value="Solicitud N° : {0} - {1}" />
    <add key="NameFileSolicitudChange" value="CambioSolicitud.html" />

    <add key="SubjectRecoverPassword" value="Solicitud de restablecimiento de contraseña - Mercurio" />
    <add key="NameFileRecoverPassword" value="RecoverPassword.html" />
    


    
    <add key="CopyAddress" value="operaciones-mercurio@grupo-atenea.com" />
    <add key="templateGen" value="C:\Mercurio\" />
    <add key="HackeoEtico" value="C:\Mercurio\Cibersecurity\Hackeo Etico\" />
    <add key="OSINT" value="C:\Mercurio\Cibersecurity\OSINT\" />
    <add key="Pentesting" value="C:\Mercurio\Cibersecurity\Pentesting\" />
    <add key="BarridoElectronico" value="C:\Mercurio\Safety Security\Barrido Electronico\" />
    <add key="SeguridadPatrimonial" value="C:\Mercurio\Safety Security\Seguridad Patrimonial\" />
    <add key="InvestigacionesCorporativas" value="C:\Mercurio\Safety Security\Investigaciones Corporativas\" />
    <add key="PersonalInterno" value="C:\Mercurio\Safety Security\Personal Interno\" />
    <add key="SeguridadFisica" value="C:\Mercurio\Safety Security\Seguridad Fisica\" />
    <add key="MapaRiesgos" value="C:\Mercurio\Mapa Riesgos\" />
    <add key="GestionRiesgos" value="C:\Mercurio\Gestion de Riesgos\" />
    <add key="InformacionInteres" value="C:\Mercurio\Informacion de Interes\" />
	<add key="GestionCorporativaRiesgos" value="C:\Mercurio\Gestion Corporativa de Riesgos\" />
    <add key="BaseFolder" value="NuevaSolicitud.html" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="100147483647" />
    
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.net>
    <mailSettings>
      <smtp from="mercurio@grupo-atenea.com">
        <network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" port="587" password="m3rcur10321" userName="mercurio@grupo-atenea.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
        <!-- HTTP 1.1. -->
        <add name="Pragma" value="no-cache" />
        <!-- HTTP 1.0. -->
        <add name="Expires" value="0" />
        <!-- Proxies. -->
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <pages validateRequest="false" enableEventValidation="false" />
 
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime maxRequestLength="20480" executionTimeout="180" targetFramework="4.6" />
    <authentication mode="Forms">
      <forms name="Cookie" loginUrl="/Home/Index" protection="All" slidingExpiration="true" />
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>