@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="br-mainpanel">
    <div class="br-pageheader">

    </div><!-- br-pageheader -->
    <div class="br-pagetitle">
        <i class="icon icon ion-ios-book-outline"></i>
        <div>
            <h4 id="lbl_titulo">Principal</h4>

        </div>
    </div><!-- d-flex -->

    <div class="br-pagebody">

        <!-- start you own content here -->

    </div><!-- br-pagebody -->

</div><!-- br-mainpanel -->
@Scripts.Render("~/bundles/main")