
@{
    ViewBag.Title = "SafetyBarridoElectronico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="br-mainpanel">
    <div class="br-pageheader">
    </div>
    <div class="br-pagetitle">
        <i class="icon ion-ios-book-outline"></i>
        <div>
            <h4 id="lbl_titulo">Barrido Electrónico</h4>
        </div>
    </div>

</div>
